<nav class="navbar">
    <ul class="navbar-nav">
      <li class="logo">
        <a href="#" class="nav-link">
          <p class="link-text logo-text">Muse my Vinyls</p><br />
           <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 8c-2.209 0-4 1.791-4 4s1.791 4 4 4 4-1.791 4-4-1.791-4-4-4zm0 6c-1.104 0-2-.897-2-2s.896-2 2-2 2 .897 2 2-.896 2-2 2zm0-12c5.514 0 10 4.486 10 10s-4.486 10-10 10-10-4.486-10-10 4.486-10 10-10zm0-2c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm-2.914 20.526c-2.625-.902-4.697-2.978-5.592-5.606l1.02-.127c.807 2.174 2.529 3.901 4.699 4.714l-.127 1.019zm.258-2.054c-1.723-.71-3.098-2.085-3.807-3.807l1.041-.13c.596 1.272 1.623 2.299 2.895 2.896l-.129 1.041zm8.095-9.007c-.598-1.272-1.625-2.3-2.896-2.896l.131-1.041c1.721.71 3.096 2.085 3.807 3.807l-1.042.13zm2.049-.256c-.814-2.157-2.529-3.869-4.691-4.677l.129-1.019c2.613.896 4.68 2.958 5.582 5.568l-1.02.128z"/></svg>
        </a>
      </li>
      <li class="nav-item">
        <div class="nav-link">
          <% if user_signed_in? %>
             <%= link_to new_owner_vinyl_path do %>
                <svg 
                aria-hidden="true"
                focusable="false"
                data-prefix="fad"
                data-icon="add"
                role="img"
                xmlns="http://www.w3.org/2000/svg" 
                xmlns:xlink="http://www.w3.org/1999/xlink" 
                version="1.1" 
                x="0px" 
                y="0px" 
                viewBox="0 0 100 125" 
                class="svg-inline--fa fa-alien-monster fa-w-18 fa-9x"
                xml:space="preserve">
                <g class="fa-group">
                  <path 
                    class="fa-primary"
                    fill="currentColor"
                    d="M50,7.5C26.528,7.5,7.5,26.528,7.5,50S26.528,92.5,50,92.5S92.5,73.472,92.5,50S73.472,7.5,50,7.5z M63.893,55H55v8.893   c0,2.761-2.239,5-5,5s-5-2.239-5-5V55h-8.893c-2.761,0-5-2.239-5-5c0-2.762,2.239-5,5-5H45v-8.893c0-2.761,2.239-5,5-5s5,2.239,5,5   V45h8.893c2.761,0,5,2.238,5,5C68.893,52.761,66.654,55,63.893,55z"/>
                </g>
                </svg>
                <span class="link-text">Add Vinyls</span>
              <% end %>
          <% else %>
            <%= link_to new_user_session_path do %>
              <svg 
              aria-hidden="true"
              focusable="false"
              data-prefix="fad"
              data-icon="add"
              role="img"
              xmlns="http://www.w3.org/2000/svg" 
              xmlns:xlink="http://www.w3.org/1999/xlink" 
              version="1.1" 
              x="0px" 
              y="0px" 
              viewBox="0 0 100 125" 
              class="svg-inline--fa fa-alien-monster fa-w-18 fa-9x"
              xml:space="preserve">
              <g class="fa-group">
                <path 
                  class="fa-primary"
                  fill="currentColor"
                  d="M50,7.5C26.528,7.5,7.5,26.528,7.5,50S26.528,92.5,50,92.5S92.5,73.472,92.5,50S73.472,7.5,50,7.5z M63.893,55H55v8.893   c0,2.761-2.239,5-5,5s-5-2.239-5-5V55h-8.893c-2.761,0-5-2.239-5-5c0-2.762,2.239-5,5-5H45v-8.893c0-2.761,2.239-5,5-5s5,2.239,5,5   V45h8.893c2.761,0,5,2.238,5,5C68.893,52.761,66.654,55,63.893,55z"/>
              </g>
              </svg>
              <span class="link-text">Add Vinyls</span>
            <% end %>
          <% end %>
        </div>
      </li>
      
      <li class="nav-item">
      <div  class="nav-link">
        <%= link_to root_path do %>
            <svg 
              aria-hidden="true"
              focusable="false"
              data-prefix="fad"
              data-icon="login"
              role="img"
              xmlns="http://www.w3.org/2000/svg" 
              xmlns:xlink="http://www.w3.org/1999/xlink" 
              xml:space="preserve" 
              version="1.1" 
              style="shape-rendering:geometricPrecision;text-rendering:geometricPrecision;image-rendering:optimizeQuality;" 
              viewBox="0 0 399.88 456.4375" x="0px" y="0px" 
              class="svg-inline--fa fa-alien-monster fa-w-18 fa-9x"
              >
              
              <g class="fa-group">
                <path 
                  class="fa-primary"
                  fill="currentColor"
                  d="M300.77 73.2l0 -9.73c0,-3.89 3.17,-7.07 7.07,-7.07l28.51 0c3.89,0 7.07,3.18 7.07,7.07l0 41.42 53.6 39.82c3.12,2.32 3.78,6.76 1.46,9.88l-16.9 22.8c-2.32,3.13 -6.77,3.79 -9.89,1.46l-23.09 -17.15 0 160.18c0,23.79 -19.47,43.26 -43.26,43.26l-57.88 0 0 -127.33c0,-8.72 -7.13,-15.85 -15.84,-15.85l-63.36 0c-8.71,0 -15.84,7.13 -15.84,15.85l0 127.33 -57.88 0c-23.79,0 -43.26,-19.47 -43.26,-43.26l0 -160.18 -23.09 17.15c-3.12,2.33 -7.57,1.67 -9.89,-1.46l-16.9 -22.8c-2.32,-3.12 -1.66,-7.56 1.46,-9.88l192.87 -143.29c2.54,-1.89 5.88,-1.89 8.42,0l96.62 71.78z"/>
              </g>
            </svg>
            <span class="link-text">Home</span>
          
          <% end %>
        </li>
      </div>
      <li class="nav-item">
      <div  class="nav-link">
        <% if user_signed_in? %>
          
            
              <div class="avatar">
                  <div class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                     <%= cl_image_tag current_user.photo.key, width: 50, height: 50, crop: :fill %>
                  </div>
                  <div class="dropdown-menu">
                      
                    <%= link_to "My Request",  owner_rentings_path , class: "dropdown-item" %>
                    <%= link_to "My Vinyls", owner_vinyls_path, class: "dropdown-item" %>
                    <%= link_to "Logout", destroy_user_session_path , class: "dropdown-item", method: :delete %>
                  </div>
            </div>
        <% else %>
          <%= link_to new_user_session_path do %>
            <div class="nav-link">
              <svg 
                aria-hidden="true"
                focusable="false"
                data-prefix="fad"
                data-icon="login"
                role="img"
                xmlns="http://www.w3.org/2000/svg" 
                xmlns:xlink="http://www.w3.org/1999/xlink" 
                xml:space="preserve"
                version="1.1" 
                x="0px" y="0px" 
                viewBox="0 0 100 125" 
                style="enable-background:new 0 0 100 100;" 
                class="svg-inline--fa fa-alien-monster fa-w-18 fa-9x"
                  >
                <g class="fa-group">
                  <g class="fa-group">
                    <circle 
                    class="fa-primary"
                    fill="currentColor" 
                    cx="50" 
                    cy="34.6" 
                    r="15.5" />
                  </g>
                  <g>
                    <path 
                    class="fa-primary"
                    fill="currentColor"
                    d="M25.3,72c-1.8,4.4,1.4,9.3,6.2,9.3h37.8c4.8,0,8-4.9,6.2-9.3c-4.7-11.2-14.2-18.8-25.1-18.8S29.9,60.8,25.3,72z" />
                  </g>
                </g>
              </svg>
           
                <span class="link-text">Login</span>

          <% end %>
        <% end %>
        </div>
      </li>
    </ul>
  </nav>

        
    