<!-- Partial for 'owner/rentings#update' -->

<% data.each do |renting| %>
  <div class="card-renting">

    <!-- Vinyl info -->
    <div class="card-product">
      <!-- vinyl.photo -->
      <% if renting.vinyl.photo.attached? %>
        <%= cl_image_tag renting.vinyl.photo.key, width: 120, height: 120, crop: :fill %>
      <% else %>
        <%= image_tag "https://via.placeholder.com/120" %>
      <% end %>
      <!-- vinyl info -->
      <div class="card-product-infos">
        <h2><%= renting.vinyl.title %></h2>
        <p><%= renting.vinyl.artist %></p>
      </div>
    </div>

    <!-- Renting info -->
    <div class="card-renting-infos">
      <div>
        <p>Requested by <%= renting.renter.first_name %></p>
        <h2>From <%= renting.start_date.month %>/<%= renting.start_date.day %> to <%= renting.end_date.month %>/<%= renting.end_date.day %></h2>
      </div>
      <h2 class="card-renting-pricing"><%= renting.total_price %>€</h2>
    </div>

    <!-- Btns for Pending request only -->
    <% if renting.status == 'Pending' %>
      <div id="validation-btn">
        <%= link_to decline_owner_renting_path(renting), method: :patch, class: "btn", id: "decline-btn" do %>
          <p><i class="fas fa-times-circle"></i> Decline</p>
        <% end %>
        <%= link_to validate_owner_renting_path(renting), method: :patch, class: "btn", id: "accept-btn" do %>
          <p><i class="fas fa-check-circle"></i> Accept</p>
        <% end %>
      </div>
    <% end %>

  </div>
<% end %>
