<!-- Profile -->

<div class="card-profile">
  <%= cl_image_tag current_user.photo.key, width: 130, height: 130, crop: :fill %>
</div>

<h4 class="text-center">
  <%= current_user.first_name.capitalize %>
  <%= current_user.last_name.capitalize %>
</h4>

<!-- TO DO: Tabs -->

<!-- Display Pending -->
<h5>Pending Requests</h5>

<% @rentings.each do |renting| %>
  <% if renting.status == "Pending" %>

    <div class="card-product">
      <!-- vinyl.photo -->
      <% if renting.vinyl.photo.attached? %>
        <%= cl_image_tag renting.vinyl.photo.key, width: 110, height: 110, crop: :fill %>
      <% else %>
        <%= image_tag "https://via.placeholder.com/110" %>
      <% end %>
      <!-- Text -->
      <div class="card-product-infos">
        <h2><%= renting.vinyl.title %></h2>
        <p><%= renting.start_date %> - <%= renting.end_date %></p>
        <p>Owner: <%= renting.vinyl.owner.first_name %></p>
      </div>
      <div class="card-product-price">
        <p><%= renting.total_price %> €</p>
      </div>

    </div>
<% end %>
<% end %>

<!-- Display Accepted -->
<h5>Accepted Requests</h5>
<% @rentings.each do |renting| %>
  <% if renting.status == "Accepted" %>

    <div class="card-product">
      <!-- vinyl.photo -->
      <% if renting.vinyl.photo.attached? %>
        <%= cl_image_tag renting.vinyl.photo.key, width: 110, height: 110, crop: :fill %>
      <% else %>
        <%= image_tag "https://via.placeholder.com/110" %>
      <% end %>
      <!-- Text -->
      <div class="card-product-infos">
        <h2><%= renting.vinyl.title %></h2>
        <p><%= renting.start_date %> - <%= renting.end_date %></p>
        <p>Owner: <%= renting.vinyl.owner.first_name %></p>
      </div>
      <div class="card-product-price">
        <p><%= renting.total_price %> €</p>
      </div>

    </div>
<% end %>
<% end %>

<!-- Display Declined -->
<h5>Declined Requests</h5>
<% @rentings.each do |renting| %>
  <% if renting.status == "Declined" %>

    <div class="card-product">
      <!-- vinyl.photo -->
      <% if renting.vinyl.photo.attached? %>
        <%= cl_image_tag renting.vinyl.photo.key, width: 110, height: 110, crop: :fill %>
      <% else %>
        <%= image_tag "https://via.placeholder.com/110" %>
      <% end %>
      <!-- Text -->
      <div class="card-product-infos">
        <h2><%= renting.vinyl.title %></h2>
        <p><%= renting.start_date %> - <%= renting.end_date %></p>
        <p>Owner: <%= renting.vinyl.owner.first_name %></p>
      </div>
      <div class="card-product-price">
        <p><%= renting.total_price %> €</p>
      </div>

    </div>
<% end %>
<% end %>



